{% extends 'base.html' %}
{% block title %}Lista de Colaboradores {% endblock %}


{% block content %}
<div class="offset-1 col-10 list-div">
<hr>
<p></p>
<h2>Informações <span class="badge bg-secondary">{{colaborador.id}}</span></h2>

<ol class="list-group list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Nome Completo</div>
        {{ colaborador.nomeCompleto}}
      </div>

    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Matrícula</div>
        <span class="badge bg-warning text-dark">{{colaborador.matricula}}</span>
      </div>

    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">CPF</div>
        {{colaborador.cpf}}
      </div>

    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Data de Admissão</div>
          {{colaborador.dataAdmissao}}
        </div>

    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Data de Demissão</div>
          {{colaborador.dataDemissao}}
        </div>

    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Função</div>
          {{colaborador.funcao}}
        </div>

    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Posto de Trabalho</div>
          {{colaborador.posto}}
        </div>

    </li>    
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Situação de Cadastro</div>
          {{colaborador.situacaoCadastro}}
        </div>

    </li>    
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Data de Criação</div>
          <span class="badge bg-secondary">{{colaborador.created_at}}</span>
        </div>
        <span class="badge bg-primary rounded-pill">i</span>
    </li>    
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Última Atualização em</div>
          <span class="badge bg-secondary">{{colaborador.updated_at}}</span>
        </div>
        <span class="badge bg-primary rounded-pill">i</span>
    </li>
  </ol>
  <p></p>
</div>
{% endblock %}

