<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/pdf.css">
    <title>Relatório de Contratos</title>
</head>

<body>
    <div class="header">
        <h2>Contrato: </h2>
        <p>Contrato: {{ contrato.numero }}</p>
        <p>Valor: {{ contrato.valor }}</p>
    </div>
    <hr>
    <div class="body">
        <h2>Cliente: </h2>
        <p>Nome Fantasia: {{ contrato.cliente.nome_fantasia }}</p>
        <p>Razão Social: {{ contrato.cliente.razao_social }}</p>
        <p>CNPJ: {{ contrato.cliente.cnpj }}</p>
        <p>Endereço: {{ contrato.cliente.endereco }}</p>
        <p>Contato: {{ contrato.cliente.contato }}</p>
    </div>
    <hr>
    <h2>Quadro de Presença até o momento: </h2>
    <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <td> Colaboradores</td>
              {% for d in dia %}
                <td>{{ d.dia }}</td>
              {% endfor %}
          </tr>
        </thead>
        <tbody>
    
          {% for c in colaboradores %}
          <tr>
    
            <td scope="col"> {{ c.nomeCompleto }}</td>
    
            {% for p in presencas %}
            
            {% if p.colaboradores_id == c.id %}
            {% if p.presenca == 1 %}
            <td scope="col">P</td>
            {% else %}
            <td scope="col">F</td>
            {% endif %}
    
            {% endif %}
            {% endfor %}
          </tr>
    
          {% endfor %}
    
    
        </tbody>
      </table>
</body>

</html>