{% extends 'base.html' %}
{% block title %} Lista de Alocações {% endblock %}


{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Lista de Alocações</h1>
    <a id="add-link" href="novo/">
        <div class="col-2 add-div">
            <i class='bx bxs-add-to-queue'></i> Adicionar
        </div>
    </a>
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}class="alert alert-{{message.tags}}"{% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <ul class="colaborador-list">
        {% for al in alocacoes %}
        <li class="colaborador-item">
            <span><a href="view/{{al.id}}">{{al.colaborador}} -></a> {{al.posto}}</a></a></span>
            <a href="delete/{{al.id}}"><span><i class='bx bx-trash'></i></span></a>
            <a href="editar/{{al.id}}"><span><i class='bx bx-edit-alt' ></i></span></a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}