{% extends 'base.html' %}
{% block content %}
<style>
  .container {
    margin: 0 0;
  }
  .card{
    max-width: 500px;
    margin: 0 20px;
  }
</style>
<div class="container" style="width: 100%;">
  <div class="row" style="margin-top: 100px">
  <div class="card" style="background-color: #ff009b45;">
    <div class="card-body">
    <h3 class="text-center">Gráfico de presença geral</h3>
    <canvas id="pie-geral" style="width: 100%; height: auto;"></canvas>
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <h3 class="text-center">Total de colaboradores</h3>
      <h1 id="value" class="text-center" style="font-size: 72px">{{numColab}}</h1>
    </div>
  </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script>
    var config = {
    type: 'pie',
    data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#ff6600', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
          ],
          label: 'Presente'
        }],
        labels: {{ labels|safe }}
      },
    options: {
        responsive: true,
    },
    align: 'right',

    };

    window.onload = function () {
        var ctx = document.getElementById('pie-geral').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };

    function animateValue(id, start, end, duration) {
      if (start === end) return;
      var range = end - start;
      var current = start;
      var increment = end > start? 1 : -1;
      var stepTime = Math.abs(Math.floor(duration / range));
      var obj = document.getElementById(id);
      var timer = setInterval(function() {
          current += increment;
          obj.innerHTML = current;
          if (current == end) {
              clearInterval(timer);
          }
      }, stepTime);
  }
  
  animateValue("value", {{start}}, {{numColab}}, 0);
</script>


<!--
  <div class="container dashboard" style="padding: 0; width: 100%; display: block;">
  <div class="col-4 dashboard-box" id="dashboard-cols" style="float: left; background-color: rgb(51, 212, 91); color: rgb(255, 255, 255); padding: 20px; box-sizing: border-box; height: 130px; width: 325; text-align: center; ">
    <h4 style="font-size: 20px;">Colaboradores</h4>
    <span style="font-size: 40px; display: block; width: 100%;">0</span>
  </div>
  <div class="col-4 dashboard-box" id="dashboard-presenca" style="float: left; background-color: rgb(0, 105, 197); color: rgb(255, 255, 255); padding: 20px; box-sizing: border-box; height: 130px; width: 325;  text-align: center;">
    <h4 style="font-size: 20px;">Presenca</h4>
    <span style="font-size: 40px; display: block; width: 100%;">0</span>
  </div>
  <div class="col-4 dashboard-box" id="falta" style="float: left; background-color: rgb(240, 56, 0); color: rgb(255, 255, 255); padding: 20px; box-sizing: border-box; height: 130px; width: 325;  text-align: center; ">
    <h4 style="font-size: 20px;">Falta</h4>
    <span style="font-size: 40px; display: block; width: 100%;">0</span>
  </div>
</div>
-->
{% endblock %}