{% extends 'base.html' %}

{% block title %}Editando Datas{% endblock %}

{% block content %}
<div class="offset-4 col-4 list-div">
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Datas</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for d in dias %}
        <tr>
            <td> <strong> {{d.dia}}/{{d.month}}/{{d.ano}}</strong></td>
            <td>
                <a href="../deleteData/{{d.id}}"><span><i class="fas fa-minus-circle"></i></span></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}