{% extends 'base.html' %}

{% block title %}Editando {% endblock %}

{% block content %}
<hr>
<form method="POST" action="../updateData/{{ id }}">
  {% csrf_token %}
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col"> Colaboradores</th>

          {% for d in dia %}
          <th>{{ d.dia }}/{{ d.month }}/{{ d.ano }}</th>
          {% endfor %}

        </tr>
      </thead>
      <tbody>
        {% for c in colaboradores %}
        <tr>
          <td scope="col"> {{ c.nomeCompleto }}</td>
          {% for p in presencas %}
          {% if p.colaboradores_id == c.id %}

          <td scope="col">
            <select name="{{ p.id }}">

              <option value="P" {% if p.presenca == 1 %} selected {% endif %}>P</option>
              <option value="F" {% if p.presenca == 0 %} selected {% endif %}>F</option>

            </select>
          </td>
          {% endif %}
          {% endfor %}
        </tr>

        {% endfor %}


      </tbody>
    </table>
  </div>
  <button type="submit" class="btn btn-success">Salvar Alterações</button>
</form>
{% endblock %}