{% extends 'base.html' %}
{% block title %} Quadro De Presença {% endblock %}


{% block content %}
<div class="col-12 list-div">
    <h1>Quadros de Presença</h1>

    <a id="add-link" href="../quadroGeral/">
        <div class="col-2 add-div">
            <i class="far fa-list-alt"></i> Quadro Geral
        </div>
    </a>
    <hr>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %}class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <ul class="quadro-list">
        {% if count > 0 %}
        {% for q in postos %}
        <li class="quadro-item" style="margin-top: 10px; list-style-type: none;">
            <span>
                <p>
                    <a class="btn" data-toggle="collapse" href="#collapseExample_{{ q.id }}" role="button"
                        aria-expanded="false" aria-controls="collapseExample_{{ q.id }}">
                        {{ q.descricao }}
                    </a>
                </p>
            </span>

            <div class="collapse" id="collapseExample_{{ q.id }}">
                <div class="card card-body">
                    <!--  <form method="POST" action="../novaData/{{ q.id }}"> 
                        {% csrf_token %}
                            {{ form.as_p }} -->
                    <a href="../novaData/{{ q.id }}"><input type="submit" class="btn btn-primary"
                            value="Fazer Registro"></a>
                    <p></p>
                    <a href="../viewQuadros/{{ q.id }}"><input type="submit" class="btn btn-warning"
                            value="Visualizar Quadro"></a>
                    </form>
                </div>
            </div>
        </li>
        <hr>
        {% endfor %}
        {% else %}
        <span>Nenhum Posto de Trabalho Cadastrado</span>
        {% endif %}
        
        {% if request.user.groups.all.0.name == 'Tatico' %}
        <hr>
        <h3> Postos de Trabalho não aprovados </h3>
        {% endif %}
    </ul>
</div>
{% endblock %}