{% extends 'base.html' %}
{% block title %}Quadro de Colaboradores{% endblock %}
{% load crispy_forms_tags %} 

{% block content %}
<div class="offset-1 col-10 list-div">
{% for p in postos %}
        <h1>{{ p.id }}<strong>{{ p.descricao }}</strong></h1>
{% endfor%} 
    <form method="POST" action="{% url 'cadastra_presenca' %}">
        {% csrf_token %} 
        {{ data.as_p}}

        <table class="table">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Funcionário</th>
                <th scope="col">Presença</th>
            </tr>
            {% for i in cols %}
            <tr>
                <td><input type="text" style="border: none;" class="input-3" value="{{i.id}}"  name="id_colaborador" readonly/></td>
                <td><input type="text" style="border: none;" class="input-3" value="{{i.nomeCompleto}}"  name="nomeColaborador" readonly/></td>
                <td><input type="checkbox" class="presenca" multiple value = "{{ True }}" name="confirma_presenca_colaborador" id="valor_da_presenca"/></td>
            </tr>
            {% endfor %}
            
        </table>
        {% for f in flutuante %}
        <p>{{f.nomeCompleto}}</p>
        {% endfor %}
        <a href="../viewQuadro/{{q.id}}"> 
            <input type="submit" class="btn btn-success" value="Salvar"/>         
        </a>
    </form>
</div>
{% endblock %}