{% extends 'base.html' %}
{% block title %}Quadro de Colaboradores{% endblock %}
{% load crispy_forms_tags %} 

{% block content %}
<div class="offset-1 col-10 list-div">
        <h1>{{ postos.id }}<strong>{{ postos.descricao }}</strong></h1>
    <form method="POST" action="../storeData/{{postos.id}}">
        {% csrf_token %} 
        <div class="col-3">
            <input type="text" class="form-control" id="data" name="data" placeholder="">
          </div>

        <table class="table">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Funcionário</th>
                <th scope="col">Presença</th>
            </tr>
            {% for i in cols %}
            <tr>
                <td><input type="text" style="border: none;" class="input-3" value="{{i.id}}"  name="id_colaborador_{{i.id}}" readonly/></td>
                <td><input type="text" style="border: none;" class="input-3" value="{{i.nomeCompleto}}"  name="nomeColaborador_{{i.id}}" readonly/></td>
                <td><input type="checkbox" class="presenca" multiple value = "{{ True }}" name="presenca_{{ i.id }}" id="valor_da_presenca"/></td>
            </tr>
            {% endfor %}
            
        </table>
        {% for f in flutuante %}
        <p>{{f.nomeCompleto}}</p>
        {% endfor %}
            <button type="submit" class="btn btn-success">Salvar</button>
    </form>
</div>
{% endblock %}