{% extends 'base.html' %}
{% block title %} Quadro de Presença {% endblock %}

{% block content %}

<div class="offset-1 col-10 list-div">
    <p></p>
    
    <hr>
    

    <!--Quadro-->
</div>
<h1><i class="fas fa-address-card"></i><strong> Quadro de Presença:{{posto.0}}</strong></h1>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col"> ID</th>
        <th scope="col"> Colaboradores</th>
        {% for d in dias %}
          <th scope="col">{{d.dia}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>

        {% for c in colaboradores %}
        <tr>
        <th scope="col"> {{c.id}}</td>        
        <th scope="col"> {{c.nomeCompleto}}</td>        
        <th scope="col"> {{presencas.1.2}}</td>        
        <th scope="col"> {{presencas.2.2}}</td>        
        <th scope="col"> {{presencas.3.2}}</td>        
        <th scope="col"> {{presencas.4.2}}</td>     
        {% endfor %}
   
        </tr>

    </tbody>
  </table>
</div>

{% endblock %}

<!--
        <table class="table">
        <caption>List of users</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            {% for k, v in presencas.items %}
            <th scope="col">{{k}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% for c in colaboradores %}
                <tr>
                    <th scope="row">{{c.id}}</th>
                    <th scope="row">{{c.nomeCompleto}}</th>
            
            {% for v in presencas.values %}
                <th scope="row">{{ v }}</th>
            {% endfor %} 
            {% endfor %}

            </tr>
        </tbody>
      </table>
-->