{% extends 'base.html' %}
{% block title %} Quadro de Presença {% endblock %}

{% block content %}

<div class="offset-1 col-10 list-div">
    <table>
        <tr>
            <th>nome</th>
            {{for q in quadro}}
            <th>{{ q.presenca}}</th>
            {{endfor}}
        </tr>
        {% for i in cols %}
        <tr>
            <td>{{ i.nomeCompleto }}</td>
            <td><input type="checkbox" class="presenca" multiple value="{{ True }}" name="confirma_presenca_colaborador" id="valor_da_presenca"></td>
        </tr>
        {% endfor %}
        
    </table>
</div>

{% endblock %}

