{% extends 'base.html' %}
{% block title %} Lista de Clientes {% endblock %}


{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Lista de Clientes</h1>
    <a id="add-link" href="novo/">
        <div class="col-2 add-div">
            <i class='bx bxs-add-to-queue'></i> Adicionar
        </div>
    </a>
    <div class="col-9 search-div">
        <input type="text" class="form-control" id="search" placeholder="Digite o nome do colaborador">
        <i class='bx bx-search-alt' ></i>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}class="alert alert-{{message.tags}}"{% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <ul class="colaborador-list">
        {% for user in usuarios %}
        <li class="colaborador-item">
            <span style="padding-left: 20px"><a href="view/{{cli.id}}">{{user.nome}}</a></span>
            <a href="delete/{{cli.id}}"><span><i class='bx bx-trash'></i></span></a>
            <a href="editar/{{cli.id}}"><span><i class='bx bx-edit-alt' ></i></span></a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}