{% extends 'base.html' %}

{% block title %}Quadro de Colaboradores{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Cadastro dia: </h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th>Funcionário</th>
                <th>Presença</th>
            </tr>
            {% for i in cols %}
            <tr>
                <td>{{ i.nomeCompleto }}</td>
                <td><input type="checkbox" name="presenca" id=""></td>
            </tr>
            {% endfor %}
            
        </table>
        <input type="submit" class="btn btn-success" value="Salvar">
    </form>

</div>
{% endblock %}